build
dist/liu.json
liu.json
liu.cin
liu-uni.tab
screenshot/liu_license.jpg
*.pyc
liuwords
dist/old
dist/old/*
dist/*.zip
dist/*.rar
dist/liur_trad.dict.yaml
linux/liu-uni.tab
linux/liu.cin
linux/liu.json
linux/*.pyc
linux/test/*
linux/3parts/*
boshiamy.txt
fcitx_boshiamy.txt
terry_boshiamy.txt
linux/boshiamy.txt
linux/old/*
linux/fcitx_boshiamy.txt
字根檔/*
UCLLIU.ini
dist/UCLLIU.ini
/dist/UCLLIU.ini
wuxiami.txt
/UCLLIU.lock
/dist/UCLLIU.lock
/dist/test_ar30
/UCLLIU.ini
/C#/uclliu/bin/Debug/uclliu.exe
/C#/uclliu/bin/Debug/uclliu.pdb
/C#/uclliu/obj/Debug/uclliu.csproj.GenerateResource.cache
/C#/uclliu/obj/Debug/uclliu.csprojAssemblyReference.cache
/C#/uclliu/obj/Debug/uclliu.exe
/C#/uclliu/obj/Debug/uclliu.pdb
/C#/uclliu/bin/Debug/UCLLIU.ini
/C#/uclliu/bin/Debug/UCLLIU.lock
/dist/ar30.cin
*.mp3
/*.wav