build
dist/liu.json
liu.json
liu.cin
liu-uni.tab
screenshot/liu_license.jpg
*.pyc
liuwords
dist/old
dist/old/*
dist/*.zip
dist/*.rar
dist/liur_trad.dict.yaml
linux/liu-uni.tab
linux/liu.cin
linux/liu.json
linux/*.pyc
linux/test/*
linux/3parts/*
boshiamy.txt
fcitx_boshiamy.txt
terry_boshiamy.txt
linux/boshiamy.txt
linux/old/*
linux/fcitx_boshiamy.txt
字根檔/*
UCLLIU.ini
dist/UCLLIU.ini
/dist/UCLLIU.ini
wuxiami.txt
/UCLLIU.lock
/dist/UCLLIU.lock
/dist/test_ar30
/UCLLIU.ini
/C#/uclliu/bin/Debug/uclliu.exe
/C#/uclliu/bin/Debug/uclliu.pdb
/C#/uclliu/obj/Debug/uclliu.csproj.GenerateResource.cache
/C#/uclliu/obj/Debug/uclliu.csprojAssemblyReference.cache
/C#/uclliu/obj/Debug/uclliu.exe
/C#/uclliu/obj/Debug/uclliu.pdb
/C#/uclliu/bin/Debug/UCLLIU.ini
/C#/uclliu/bin/Debug/UCLLIU.lock
/dist/ar30.cin
*.mp3
/*.wav
/.vs
/tools/output.txt
/tsf_bridge/UclTsfBridge/UclTsfBridge/
/tsf_bridge/UclTsfBridge/x64/Release/*.exp
/tsf_bridge/UclTsfBridge/x64/Release/*.lib
/tsf_bridge/UclTsfBridge/x64/Release/*.pdb
/tsf_bridge/UclTsfBridge/x64/Release/*.iobj
/tsf_bridge/UclTsfBridge/x64/Release/*.ipdb
/tsf_bridge/UclTsfBridge/x64/Release/*.tlog/
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/dist/PyInstaller-3.4-py2.7.egg
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/PyInstaller.egg-info/entry_points.txt
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/PyInstaller.egg-info/PKG-INFO
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/PyInstaller.egg-info/requires.txt
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/PyInstaller.egg-info/SOURCES.txt
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/PyInstaller.egg-info/top_level.txt
/p27/PyInstaller-3.4.tar/dist/PyInstaller-3.4/PyInstaller.egg-info/dependency_links.txt
/p27/pefile-2017.8.1/dist/pefile-2017.8.1-py2.7.egg
/p27/pefile-2017.8.1/pefile.egg-info/dependency_links.txt
/p27/pefile-2017.8.1/pefile.egg-info/requires.txt
/p27/pefile-2017.8.1/pefile.egg-info/SOURCES.txt
/p27/pefile-2017.8.1/pefile.egg-info/top_level.txt
