<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.13.0307" targetFramework="net20" />
  <package id="ini-parser" version="2.5.2" targetFramework="net35" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net20" />
  <package id="System.Json" version="4.7.0" targetFramework="net45" />
</packages>